{% extends "page.html" %}
{% load bootstrap %}

{%block main%}
<form method="POST">
{% csrf_token %}
    {{form|bootstrap}}
    <br>
<button type="submit" class="btn btn-primary">Salvar</button>

</form>
<br>
    <h3>Documentos</h3>
<ul>
    {% for documentos in object.documentos_set.all %}

        <li>
            <a href="{{documentos.arquivo.url }}">{{documentos.descricao}}</a>
        </li>
    {% endfor %}
    </ul>
    {% if object %}
        <a href="{% url 'DocumentosCreate' object.id %}" class="btn btn-success">Adicionar documento</a>
    {% endif %}
  <h3>Banco de horas</h3>
    <ul>
    {% for registro_hora in object.registrohoras_set.all %}

        <li>
           <a href="">
               {{registro_hora.motivo}} | {{registro_hora.horas}}
           </a>
        </li>
    {% endfor %}
        <br/>

        <h3> total de horas extras:{{object.total_horas_extra}} </h3 >

{%endblock%}